%list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

%link {
  text-decoration: none;
}

%container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

%flex {
  display: flex;
  align-items: center;
}

%section-title {
  margin-top: 0px;
  margin-bottom: 50px;

  color: $title-text-color;
}

%visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
