body {
  background-color: $color;
  color: $primery-text-color;
  font-family: Roboto, sans-serif;
  font-size: 14px;

  .container {
    @extend %container;
  }

  a {
    @extend %link;
  }

  .list {
    @extend %list;
  }

  .img {
    display: block;
    width: 100%;
    height: auto;
  }
}

body.modal-open {
  overflow: hidden;
}
