.clients {
  padding-top: 60px;
  padding-bottom: 60px;

  &-title {
    margin-bottom: 30px;
    @extend %section-title;
    @include fonts(28px, 1.17);
  }

  & .list {
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

.client-card {
  width: calc((100% - 30px) / 2);
  margin-bottom: 30px;

  & .link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90px;

    fill: $fill-social-icon;
    background-color: $color;
    border: 1px solid $fill-social-icon;
    border-radius: 4px;
  }
}

.client-card:nth-child(odd) {
  margin-right: 30px;
}
