.clients {
  @extend %container;
  padding-top: 94px;
  padding-bottom: 94px;

  &-title {
    @extend %section-title;
  }

  &-list {
    @extend %list;
    margin-left: auto;
    display: flex;
    align-items: center;
  }
}

.client-card {
  & .link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 90px;

    fill: $fill-social-icon;
    background-color: $color;
    border: 1px solid $fill-social-icon;
    border-radius: 4px;
    transition: $transition;
  }

  & .link:hover,
  &.link:focus {
    fill: $accent-color;
    border: 1px solid $accent-color;
  }
}

.client-card:not(:last-child) {
  margin-right: 30px;
}
