.clients {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }

  &-title {
    margin-bottom: 30px;
    @extend %section-title;
    @include fonts(28px, 1.17);

    @media screen and (min-width: 1200px) {
      font-weight: 700;
      font-size: 36px;
      line-height: 1.16;
    }
  }

  & .list {
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

.client-card {
  @media screen and (max-width: 767px) {
    width: calc((100% - 30px) / 2);
  }

  & .link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90px;

    fill: $fill-social-icon;
    background-color: $color;
    border: 1px solid $fill-social-icon;
    border-radius: 4px;
  }

  & .link:hover,
  & .link:focus {
    fill: $accent-color;
    border: 1px solid $accent-color;
  }
}

@media screen and (max-width: 767px) {
  .client-card:nth-child(-n + 4) {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .client-card:nth-child(odd) {
    margin-right: 15px;
  }
}

.client-card {
  @media screen and (max-width: 768px) {
    width: calc((100% - 30px) / 3);
  }
}

// @media screen and (min-width: 768px) {
//   .client-card:nth-child(2n + 1) {
//     margin-right: 30px;
//   }
// }

.client .list {
  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding-top: 94px;
    padding-bottom: 94px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }
}

.client-card .link {
  @media screen and (min-width: 1200px) {
    width: 170px;
    height: 90px;
  }
}

@media screen and (min-width: 1200px) {
  .client-card:not(:last-child) {
    margin-right: 30px;
  }
}
