.feature {
  @extend %container;
  padding-top: 94px;
  padding-bottom: 94px;
  border-top: 1px solid $out-line-color;

  @media screen and (min-width: 480px) {
    width: 480px;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-right: 15px;
    margin-left: 15px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-right: 15px;
    margin-left: 15px;
    width: calc((100% - 2 * 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }

  & .hidden {
    @extend %visually-hidden;
  }
  &-list {
    // display: flex;
    @extend %list;
  }

  &-item {
    width: 278px;

    @media screen and (min-width: 480px) {
      width: 450px;
    }

    @media screen and (min-width: 768px) {
      width: 354px;
    }
  }

  &-icon {
    @extend %flex;
    box-sizing: border-box;

    justify-content: center;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: $secondery-bg-color;
  }
}

// .feature-item:not(:last-child) {
//   margin-right: 30px;
// }

.feature-list {
  & .text {
    margin-top: 0px;
    margin-bottom: 0px;

    @extend %feture-text-fonts;

    @media screen and (min-width: 480px) {
      margin-bottom: 30px;
    }
  }

  & .title {
    margin-top: 0px;
    margin-bottom: 10px;

    color: $title-text-color;
    @extend %feature-title-fonts;

    @media screen and (min-width: 480px) {
      text-align: center;
    }
  }
}
