.feature {
  padding-top: 60px;
  padding-bottom: 60px;
  border-top: 1px solid $out-line-color;

  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding-top: 94px;
    padding-right: 94px;
  }

  & .hidden {
    @extend %visually-hidden;
  }

  &-item {
    width: 100%;
  }

  &-icon {
    display: flex;
    height: 120px;
    margin-bottom: 25px;
    margin: 0 auto;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;

    border-radius: 4px;
    background-color: $secondery-bg-color;
  }
}

.feature-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.feature-item {
  & :not(:last-child) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
  }
  &:nth-child(2n) {
    margin-right: 0;
  }

  &:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 30px * 4) / 4);
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

// @media screen and (max-width: 1199px) {
//   width: calc((100% - 30px) / 2);
// }

@media screen and (min-width: 768px) {
  .feature-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 768px) {
  .feature-item:nth-child(odd) {
    margin-right: 30px;
  }
}

.feature-list {
  & .text {
    margin-top: 0px;
    margin-bottom: 0;
    // margin-bottom: 30px;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
  }

  & .title {
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: center;

    color: $title-text-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
