.overlay {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: $bg-overlay-hero;
  background-image: $bg-image-hero, url(../images/header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (min-width: 480px) {
    width: 480px;
    height: 400px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    height: 400px;
  }

  // @media screen and (min-width: 1200px) {
  //   // width: 1600px;
  //   height: 600px;
  // }
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;

  @media screen and (min-width: 480px) {
    width: 480px;
    padding-top: 118px;
    padding-bottom: 118px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding-top: 118px;
    padding-bottom: 118px;
  }

  // @media screen and (min-width: 1200px) {
  //   // width: 768px;
  //   padding-top: 200px;
  //   padding-bottom: 200px;
  // }

  &-title {
    // margin-left: auto;
    // margin-right: auto;
    margin-top: 0px;
    margin-bottom: 46px;
    width: 646px;

    color: $color;
    @extend %hero-fonts;

    @media screen and (min-width: 480px) {
      width: 480px;
      margin-top: 0px;
      margin-bottom: 30px;
      margin-left: auto;
      margin-right: auto;
      width: 360px;

      @include fonts(26px, 1.62);
    }

    @media screen and (min-width: 768px) {
      width: 768px;
      margin-top: 0px;
      margin-bottom: 30px;
      width: 360px;

      @include fonts(26px, 1.62);
    }
  }

  & .button {
    display: inline-block;
    padding: 17px 32px;
    border-radius: 4px;
    border: none;
    color: $color;
    background-color: $accent-color;

    @extend %hero-button-fonts;
    font-family: inherit;
    text-decoration: none;

    box-shadow: $shadow;
    transform: scale3d(1, 1, 1);
    transition: $transition;
  }

  & .button:hover,
  & .button:focus {
    background-color: $color;
    color: $accent-color;
    border: none;
    cursor: pointer;

    transform: scale3d(1.1, 1.1, 1.1);
  }
}
