.backdrop {
  position: fixed;
  padding: 93px 15px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $backdrop;
  transition: $transition;
  overflow-y: scroll;

  &.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
}

.modal {
  position: relative;
  padding: 40px;
  top: 50%;
  left: 50%;

  opacity: 1;
  background: $backdrop;
  transform: translate(-50%, -50%);

  background: $color;
  box-shadow: $shadow-card;
  border-radius: 4px;

  @media screen and (min-width: 768px) {
    max-width: 450px;
  }

  //   @media screen and (max-width: 1200px) {
  //     padding-top: 221px;
  //     padding-bottom: 222px;
  //   }

  & .title {
    display: block;
    margin-bottom: 30px;

    font-size: 20px;
    letter-spacing: 0.03em;
    color: $title-text-color;

    text-align: center;
  }
}

.feedback {
  position: relative;
  background-color: $color;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 28px;

  box-sizing: border-box;
  border-radius: 4px;

  font-size: 14px;

  color: $primery-text-color;
}

.form {
  &-input {
    margin: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 42px;
    border: 1px solid $border-form;
    box-sizing: border-box;
    border-radius: 4px;
  }

  &-label {
    position: absolute;
    top: 50%;
    left: 42px;
    transform: translate(0%, -60%) scale(1, 1);
    transition: $transition;
  }

  &-icon {
    position: absolute;
    display: inline-block;
    top: 11px;
    left: 16px;
  }

  &-input:hover + &-label,
  &-input:focus + &-label,
  &-input:not(:placeholder-shown) + &-label {
    color: $accent-color;
    transform: translate(-70%, -40px) scale(0.9, 0.9);
  }

  &-input:hover ~ &-icon,
  &-input:focus ~ &-icon {
    fill: $accent-color;
  }

  &-input:focus,
  &-input:hover {
    border: 1px solid $accent-color;
    outline: 1px solid $accent-color;
  }
}

.comment {
  resize: none;
  width: 100%;
  min-height: 120px;
  padding: 12px 16px;

  border: 1px solid $border-form;
  box-sizing: border-box;
  border-radius: 4px;

  &-field {
    margin-bottom: 20px;
  }

  &:focus,
  &:hover {
    border: 1px solid $accent-color;
    outline: 1px solid $accent-color;
  }
}

.form-checkbox {
  position: relative;
  text-align: center;
}

.agreement {
  display: inline-block;
  margin-bottom: 30px;
  padding-left: 30px;

  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.71;

  color: $primery-text-color;

  &-link {
    color: $accent-color;
  }
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.check-icon {
  display: inline-block;
  position: absolute;
  top: 3px;
  margin-left: -30px;

  width: 16px;
  height: 15px;
  border-radius: 2px;

  border: 2px solid $title-text-color;
  box-sizing: border-box;
  box-shadow: $shadow;
  transition: $transition;

  .checkbox:checked + & {
    background-color: $accent-color;
    background-image: url(../images/check.svg);
    border-color: transparent;
    background-size: contain;
    background-origin: border-box;
  }

  .checkbox:hover + & {
    border-color: $accent-color;
  }
}

.form-submit {
  display: block;
  margin: auto;
  padding: 0;
  width: 200px;
  height: 50px;

  background: $accent-color;
  box-shadow: $shadow;
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid $accent-color;
  color: $color;

  transition: $transition;

  &:hover {
    background-color: $color;
    color: $accent-color;
  }
}

.modal-close {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;

  padding: 5px;
  margin-right: 8px;
  margin-top: 8px;

  background: $color;
  border: 1px solid $border-close;
  box-sizing: border-box;
  border-radius: 50%;

  transition: $transition;

  &:hover {
    background-color: $accent-color;
    fill: $color;
    border: 1px solid transparent;
  }
}
