.page-header {
  position: relative;
  outline: 1px solid $out-line-color;
}

.head {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}
.link-header {
  @media screen and (min-width: 768px) {
    margin-right: 80px;
  }
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-button {
  display: inline-block;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;

  outline: transparent;

  @media screen and (min-width: 768px) {
    display: none;
  }

  &:hover,
  &:focus {
    fill: $accent-color;
  }

  & .icon-close {
    display: none;
  }

  &.is-open .icon-menu {
    display: none;
  }

  &.is-open .icon-close {
    display: block;
  }
}

.menu-container {
  @media screen and (max-width: 767px) {
    display: none;

    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 60px 0;
    text-align: center;
    background-color: $color;
    box-shadow: $box-shadow-menu;
    text-align: center;

    &.is-open {
      display: block;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.sit-nav {
  @media screen and (max-width: 767px) {
    position: relative;
    color: $title-text-color;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.16;
    text-decoration: none;

    transition: $transition;

    & .item:not(:last-child) {
      margin-bottom: 40px;
    }
  }
}

.site-nav .item:not(:last-child) {
  @media screen and (min-width: 768px) {
    margin-right: 40px;
  }
}

.site-nav {
  @media screen and (min-width: 768px) {
    display: flex;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.site-nav .link {
  @media screen and (max-width: 767px) {
    position: relative;
    display: inline-block;

    padding-bottom: 40px;

    color: $title-text-color;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition: $transition;

    & .link:hover,
    & .link:focus {
      color: $accent-color;
    }
  }

  @media screen and (min-width: 768px) {
    display: inline-block;

    padding-top: 32px;
    padding-bottom: 32px;

    color: $title-text-color;
    font-weight: 500;
    text-decoration: none;

    position: relative;

    transition: $transition;
  }

  & .item:not(:last-child) {
    margin-right: 50px;
  }
}

.site-nav .page-studio::after,
.site-nav .page-portfolio::after {
  content: '';

  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;

  position: absolute;

  background-color: $accent-color;

  transition: $transition;

  @media screen and (min-width: 768px) {
    position: absolute;
    bottom: 0;
  }
}

.contacts-link {
  margin-left: auto;
  justify-content: flex-end;

  @media screen and (min-width: 768px) {
    padding-top: 21px;
    padding-bottom: 21px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: auto;
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.16;
  }

  & .item:not(:last-child) {
    margin-right: 30px;
  }

  & .email,
  & .tel {
    display: block;
    color: $primery-text-color;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition: $transition;

    @media screen and (min-width: 768px) {
      font-size: 12px;
      line-height: 1.16;
    }
  }

  & .email:hover,
  & .tel:hover,
  & .email:focus,
  & .tel:focus {
    color: $accent-color;
  }
}

.email-icon,
.tel-icon {
  margin-right: 10px;
  display: none;
  vertical-align: middle;
  background-size: contain;
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .email-icon,
  .tel-icon {
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    background-size: contain;
    fill: currentColor;
  }
}
