.projects {
  @extend %container;
  padding-top: 94px;
  padding-bottom: 94px;

  &-title {
    @extend %section-title;
    @extend %title-fonts;
  }
}

.project {
  &-list {
    @extend %list;
    // display: flex;
  }

  &-item {
    position: relative;
    width: 370px;
  }
}

img {
  display: block;
}
.project-item:not(:last-child) {
  margin-right: 30px;
}

.project-item .title {
  position: absolute;
  width: 100%;
  bottom: 0;
  margin: 0px;
  padding: 27px 0px;
  height: 70px;

  color: $color;
  background-color: $bg-overlay;
  @extend %sp-title-fonts;
}
