.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $secondery-bg-color;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &-title {
    @extend %section-title;
    @include fonts(28px, 1.17);
  }
}

.team-title {
  @media screen and (min-width: 1200px) {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
  }
}

.team {
  &-list {
    justify-content: center;
  }

  &-card {
    margin-bottom: 30px;
    border-radius: 0px 0px 4px 4px;
    background: $color;
    box-shadow: $shadow-card;
  }

  &-pic {
    margin-bottom: 30px;
    width: 100%;
  }
}

.team-list {
  & .title {
    margin-top: 0px;
    margin-bottom: 10px;

    color: $title-text-color;
    font-weight: 500;

    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
  }

  & .position {
    margin-top: 0px;
    margin-bottom: 16px;
    text-align: center;

    font-weight: 400;
  }
}

.team-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.team-list {
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .team-card:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team-card:nth-child(odd) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-card:not(:last-child) {
    margin-right: 30px;
  }
}

.team-card {
  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }
}

.social {
  &-list {
    display: flex;
    justify-content: center;
  }

  &-list .link {
    justify-content: center;
    align-items: center;
  }
}

.social-item {
  margin-bottom: 24px;

  & .link {
    display: flex;

    width: 44px;
    height: 44px;

    fill: $fill-social-icon;
    border-radius: 50%;

    background-color: $color;

    transition: $transition;
  }

  & .link:hover,
  & .link:focus {
    fill: $color;
    background-color: $accent-color;
  }

  &:not(:last-child) {
    margin-right: 10px;
  }
}
